$card-sizing : 100vw;
$star-sizing : 1vw;
@media (min-width: 768px) {
    .card {
        width: calc($card-sizing * 0.18);
        height: calc($card-sizing * 0.22);
    }

    .card-text {
        font-size: calc($card-sizing * 0.008);
    }
    .card-title {
        font-size: calc($card-sizing * 0.01);
    }
    .star {
        width: calc($star-sizing * 1);
        height: calc($star-sizing * 1);
    }
    .button-text {
        font-size: calc($card-sizing * 0.007    );
    }
    .button {
        width: calc($card-sizing * 0.07);
        height: calc($card-sizing * 0.023);
    }
    .price {
        font-size: calc($card-sizing * 0.012);
    }
}

@media (max-width: 768px) {
    .card {
        width: 140px;
        height: 180px;
    }

    .card-text {
        font-size: 9px;
    }
    .card-title {
        font-size: 12px;
    }
    .star {
        width: 7px;
        height: 7px;
    }
    .button-text {
        font-size: 8px;
    }
    .button {
        width: 50px;
        height: 15px;
        padding: 2px;
    }
    .price {
        font-size: 9px;
    }
    .m-md{
        margin-top: 1px;
    }
}